# Ignore node_modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
jspm_packages/
bower_components/

# Build output
.next/
out/

# Environment variables
.env
.env.*

# System files
.DS_Store
Thumbs.db
*.bak
*.tmp
*.old

# Editor settings
.idea/
.vscode/
*.code-workspace

# Temporary files
*.tmp
*.swp
*.swo
~$*.*

# Testing and coverage
coverage/
*.lcov

# Static files generated during export
/static/*

# Next.js artifacts
.next/cache/
.next/server/
.next/static/

# Operating system files
.Trashes
*.swp
*.swo
*.lock

*.gz